body {
    margin: 0; /*外边距*/
    padding: 0; /*内边距*/
  }

    /* Custom Cursor

Change the code --> your image/gif */

* {
    cursor:url(".../image/music64x64.png"), auto;
  }

.navbar {
    z-index: 2; /*堆叠顺序*/
    position: fixed; /*固定*/
    display: block;
    width: 100%; /*外边距*/
    padding-top: 0.5vw; /*内边距*/
    padding-bottom: 0.5vw; /*内边距*/
    margin-top: 0; /*外边距*/
    top: 0; /*外边距*/
    }

.background_gif{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: url('../image/Musical_ascensio.gif') center center / cover no-repeat;
    z-index: -1; /*堆叠顺序*/
    }

.navbar_content {
    margin: 0; /*外边距*/
    padding: 0; /*内边距*/
    display: flex; /*弹性布局容器*/
    
  }

.week_part{
    display: grid;
    place-items: center; /* 将内容居中对齐 */
    flex-wrap: wrap; /*自动换行*/
    margin: 0; /*外边距*/
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 100px;
    padding-bottom: 0px;
  }

   
img {
  max-width: 50%; /* 图片宽度最大不超过容器宽度 */
  height: auto; /* 保持图片纵横比 */
  display: block; /* 避免图片下方留空 */
  margin-top: 20px; /* 图片上方留空 */
  }
    
    /* <h2> Text picture display */
    @import url(https://fonts.googleapis.com/css?family=Playfair+Display);
    @import url(https://fonts.googleapis.com/css?family=Fauna+One);
    
  footer {
      background-color: #7c7c7c;
      padding: 10px;
      margin-top: 50px;
      color: rgb(255, 255, 255);
      text-align: center;
  }
  
  audio::-webkit-media-controls {
    display: none !important;
  }
  audio{
    position:fixed;
    bottom: 0;
    right: 0;
    z-index: 1; /* 设置层级，确保位于下方容器之上 */
  }

    
  
    
    